.address-table {
	border: 1px solid #e5e5e5;
	height: 60vh;
    overflow-y: auto;
	display: block;
	@extend .custom-scrollbar;
	tbody > tr > td{
		vertical-align: unset !important;
	}
}

.address-table > tbody > tr > td,
.address-table > tbody > tr > th,
.address-table > tfoot > tr > td,
.address-table > tfoot > tr > th,
.address-table > thead > tr > td,
.address-table > thead > tr > th {
	padding: 12px;
}

.address-table tbody tr td:last-child {
	text-align: center;
}

.sticky-item {
    position: sticky;
    top: 60px;
}

.btn-neutral{
	border: #CACACA 1px solid;
	&:hover{
		border: #333 1px solid !important;
	}
}

.col-new-address{
	button{
		padding: 6px 18px;
	}
}