.address-table {
	border: 1px solid #e5e5e5;
	height: 55vh;
	tbody{
		display: block;
		overflow-y: auto;
		height: 45vh;
		@extend .custom-scrollbar;
	}
	thead, tbody{
		tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		}
		th, td{
			&:first-child{
				width: 25%;
			}
			&:nth-child(2){
				width: calc(5/12*100%);
			}
			&:last-child{
				width: calc(1/6*100%);
			}
		}
	}
}

.address-table > tbody > tr > td,
.address-table > tbody > tr > th,
.address-table > tfoot > tr > td,
.address-table > tfoot > tr > th,
.address-table > thead > tr > td,
.address-table > thead > tr > th {
	padding: 12px;
	vertical-align: middle;
}

.address-table tbody tr td:last-child {
	text-align: center;
}

.sticky-item {
    position: sticky;
    top: 60px;
}

.btn-neutral{
	border: #CACACA 1px solid;
	&:hover{
		border: #333 1px solid !important;
	}
}

.col-new-address{
	button{
		padding: 6px 18px;
	}
}