.login-admin{
    &--section{
        @extend .module-small;
        background-image: url('/assets/images/login_bg2.jpg');
        height: 100vh;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(red, yellow);
            opacity: 0.3;
        }
    }
    &--title{
        color: white;
    }
}