$primary: #37ca7e;
$secondary: #43a6dd;
$transitionSpeed: 0.4s;
$text_primary: #666;

//fonts
$font_roboto: Roboto Condensed;
$font_sanserif: sans-serif;

//color
$white: #fff;
$white_10: rgba(255, 255, 255, 0.1);
$white_70: rgba(255, 255, 255, 0.7);

$nav_bg_color: rgba(10, 10, 10, 0.9);
$nav_border_color: rgba(73, 71, 71, 0.15);
$nav_text_color: #999;

$et_icon_border_color: #e5e5e5;