// images url
$public_image_url: '/assets/images/';
$home_bg_url: '/assets/images/home_bg.jpg';
$login_top_section_url: 'assets/images/login_bg.jpg';

// fonts
$font_roboto: Roboto Condensed;
$font_sanserif: sans-serif;

// main color
$primary: #2f89fc;

// color
$black: #000;
$blue:  #2183dd;
$grey:  #777;
$grey-light: #dfe3e4;
$green: #009900;
$white: #fff;
$white_10: rgba(255, 255, 255, 0.1);
$white_70: rgba(255, 255, 255, 0.7);

$nav_bg_color: rgba(10, 10, 10, 0.9);
$nav_border_color: rgba(73, 71, 71, 0.15);
$nav_text_color: #999;

$et_icon_border_color: #e5e5e5;