.bg-login {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  
}
.bg-blur{
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.main-content{
  position: relative;
}