.navbar-custom {
	background-color: $primary-darken;
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: $font_roboto, $font_sanserif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	transition: background, padding 0.4s ease-in-out 0s;
	.dropdown-menu {
		background: $primary-darken;
		border-radius: 0;
		border: 0;
		padding: 0;
		box-shadow: none;
		> li{
			> a {
				border-bottom: 1px solid $white;
				padding: 11px 15px;
				letter-spacing: 2px;
				color: $nav_text_color;
				&:focus {
					background: none;
					color: $white;
				}
				&:hover {
					background: none;
					color: $white;
					background: $white_10;
				}
			}
			&:last-child{
				a{
					border: none;
				}
			}
		}
		&.left-side .dropdown-menu {
			border: 0;
			border-right: 1px solid $white;
			right: 100%;
			left: auto;
		}
	}
	.navbar-brand {
		letter-spacing: 4px;
		font-weight: 400;
		font-size: 22px;
		color: $white;
	}
	.nav {
		li > a {
			position: relative;
			color: $white_70;
		}
		> li > a {
			&:focus {
				background: none;
				color: $white;
			}
			&:hover {
				background: none;
				color: $white;
			}
		}
		.open > a {
			background: none;
			color: $white;
			&:focus {
				background: none;
				color: $white;
			}
			&:hover {
				background: none;
				color: $white;
			}
		}
	}
	.dropdown-toggle:after {
		position: absolute;
		display: block;
		right: 0;
		top: 50%;
		margin-top: -6px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 9px;
		content: "\f107";
		text-rendering: auto;
	}
	.navbar-toggle .icon-bar {
		background: $white;
	}
}
.dropdown-menu {
	min-width: 180px;
	font-size: 11px;
}
.navbar a {
	transition: color 0.125s ease-in-out 0s;
}
