.product-gallery {
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 10px 0 0;
}

.product-gallery li {
	display: inline-block;
	width: 15%;
	margin: 0 5px;
}

.product-gallery li:first-child {
	margin-left: 0;
}

.product-title {
	margin: 0 0 20px;
	color: $text-primary-darken;
}

.product-item__quantity{
	input{
		flex: 1;
		margin: 0 -1px;
		text-align: center;
		font-size: 14px;
	}
}

.star,
.star-off {
	margin-bottom: 5px;
	color: #f1c40f;
}

.star-off {
	color: #e5e5e5;
}

.amount {
	font-size: 32px;
	color: #111;
}

.reviews {
	margin: 0;
}
/* glider slide */
.glider{
	margin: 0 15px;
	.glider-slide{
		margin: 0 10px;
		border: #efe 1px solid;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&:hover{
			cursor: pointer;
		}
		.glide__title{
			flex: 1;
		}
	}
}
/* product details */
.product-details{
	&--center{
		border-left: #eee 1px solid;
		img 
		{ 
			margin-bottom: 10px;
		}
	}
	&--left{
		img{
			padding: 3px;
			margin: 5px 0;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				border: #eee 1px solid;
			}
		}
	}
}
