.sidebar-container{
  background: #32373d;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
	position: sticky;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	@extend .custom-scrollbar;
	.bg-wrap{
    width: 100%;
    position: relative;
    z-index: 0;
    &:after{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: $black;
      opacity: .3;
    }
    .user-logo{
      .img--avatar{
        position: relative;
        z-index: 100;
        img{
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      h3{
        color: $white;
        font-size: 18px;
      }
    }
	}

  ul{
    &.components{
      padding: 0;
			margin: 0;
    }
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 15px 30px;
		    display: block;
		    color: rgba(255,255,255,.6);
		    border-bottom: 1px solid rgba(255,255,255,.05);
		    span{
		    	&.notif{
		    		position: relative;
		    		small{
		    			position: absolute;
		    			top: -3px;
		    			bottom: 0;
		    			right: -3px;
		    			width: 12px;
		    			height: 12px;
		    			content: '';
		    			background: red;
		    			border-radius: 50%;
		    			font-family: $font_roboto, $font_sanserif;
		    			font-size: 8px;
		    		}
		    	}
		    }
		    &:hover{
		    	color: $white;
		    	background: $primary;
		    	border-bottom: 1px solid $primary;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $white;
    			&:hover{
    				background: $primary;
			    	border-bottom: 1px solid $primary;
    			}
    		}
    	}
    }
  }
}